* {
    box-sizing: border-box;
    font-family: 'DB Helvethaica X', 'Helvetica Neue', Helvetica, Arial, sans-serif;    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 200%;
    height: 650px;
    background: linear-gradient(135deg, #0064E0, #4285f4);
    border-radius: 50%;
    transform: translateX(-75%) translateY(-50%);
    z-index: -1;
} */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    background:#0064E0;
    clip-path: ellipse(135% 100% at 20% 0%);
    z-index: -1;
}
.login-container {
    background-color: transparent;
    padding: 40px;
    width: 100%;
    max-width: 450px;
}
.title-head h1 {
    margin-bottom: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-weight: 400;

}
.title-head h2 {
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 33px;
    font-weight: 400;
}
@media (max-width: 391px) {
    .title-head h1{
        font-size: 30px;
    }
    .title-head h2{
        font-size: 30px;
    }
}
.title-head{
    margin-top: 20%;
    margin-bottom: 35%;
}
.login-form p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    font-size: 16px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 300;
    color: #000;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 15px;
    outline: none;
    transition: border-color 0.3s;
    background-color: #fff;
    height: 50px;
    font-size: 14px;
}

.input-group input:focus {
    border-color: #4285f4; /* สีน้ำเงินสไตล์ Google */
}

.login-btn {
    width: 60%;
    padding: 12px;
    background-color: #0064E0;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10%;
}

.login-btn:hover {
    background-color: #357ae8;
}

.footer-links {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}

.footer-links a {
    color: #4285f4;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;             
    height: 100px;           
    background-color: #ffffff;
    border-radius: 100%;
    border: 1px solid #ddd;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.logo-img {
    width: 80%;
    height: auto;
    margin-top: 5px;
}
.container-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    
}
.btn-container{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    width: 100%;
}
input.invalid {
    border-color: #d93025;
    background-color: #fff8f8;
}

/* สไตล์ข้อความ Error */
.error-message {
    color: #d93025 !important;
    font-size: 0.85rem;
    margin-top: 5px;
    margin-left: 15px;
    display: none;
    text-align:left !important;
}

/* แสดงข้อความเมื่อมีคลาส invalid */
input.invalid + .error-message {
    display: block;
}
.forgot-password{
    color: #0064E0;
    font-size: 1rem;
    margin-top: 5px;
    margin-left: 15px;
    text-align:right !important;
    display: flex;
    justify-content: end;
    text-decoration: none;
}

@media (max-width: 391px) {
    .title-head{
        margin-bottom: 45%;
    }
}
@media (max-width: 376px) {
    body::before {
        height: 250px !important;
    }
    .title-head{
        margin-bottom: 10%;
        margin-top: 15%;
    }
    .btn-container{
        margin-top: 0px;
    }
}