@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;700&display=swap');
*{
    font-family: 'DB Helvethaica X', 'Helvetica Neue', Helvetica, Arial, sans-serif ,'Noto Sans Thai', sans-serif;    margin: 0;

}
@font-face {
    font-family: 'DB Helvethaica X';
    src: url('fonts/db-helvethaica-x.woff2') format('woff2'),
         url('fonts/db-helvethaica-x.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DB Helvethaica X';
    src: url('fonts/db-helvethaica-x-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
/* body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    background:#0064E0;
    clip-path: ellipse(135% 100% at 20% 0%);
    z-index: -1;
} */
 body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../img/bg-header.png'); /* เปลี่ยน path ให้ตรงกับที่เก็บรูป */
    background-size:cover;
    /* background-position: bottom center; */
    background-repeat: no-repeat;
    z-index: -1;
}