body{
    display: flex;
    justify-content: center;
    background-color: #f9f9f9 !important;
}
.background-blue {
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
body::before{
    /* background-image: url('../img/bg-bottom.png'); */
    background-image: none;
    margin-top: 20%;
    position: fixed;
}
.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #0064E0;
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: opacity 0.2s;
    font-weight: 100;
    margin-top: 15px;
}

.back-btn:hover {
    opacity: 0.7;
}

.back-btn .arrow {
    font-size: 5rem;
    line-height: 0;
    margin-bottom: 4px;
}
.header h1{
    color: black;
    margin-top: 10%;
    font-weight: 400;
}
.avatar{
    width: 50%;
}
.btn-container{
    display: flex;
    justify-content: center;
    width: 80%;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.btn {
    width: 80%;
    background-color: #0064E0;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5%;
    display:flex ;
    justify-content: space-between;
    padding: 6px 10px;
    text-decoration: none;
}
button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
.btn span{
    font-size: 50px;
    font-weight: 200;
    position: relative;
    top: -5px;
    margin-right: 10px;
}
.content{
    display: flex;
    justify-content: center;
    width: 100%;
}
@media (max-width: 768px) {
    .btn-container{
        width: 100%;
    }
}
.chevron-left {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-left: 2px solid #2b6edc;
    border-bottom: 2px solid #2b6edc;
    transform: rotate(45deg);
}
.back-link {
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 40px;
}
.body-container{
    width: 100%;
    max-width: 450px;
    min-height: auto;
    border: 1px solid #eee;
    padding: 0 25px 40px;
    height: 95vh;
    background-color: white;
}
@media (max-height:667px) {
    .background-blue{
        height: 250px;
    }
}
@media (max-height:844px) {
    .background-blue{
        height: 260px;
    }
}